:host {
  z-index: 5;
  position: relative;
}

.table {
  border-collapse: collapse;

  th, td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    position: relative;
    .resizer {
      position: absolute;
      top: 0;
      right: 0;
      user-select: none;

      &:hover,
      .resizing {
        border-right: 2px solid blue;
        cursor: grab;
      }
    }
  }


  .resizable {
    border: 1px solid gray;

    position: relative;
  }
}
