
.scroll-nav {
    position: fixed;
    height: 100px;
    width: 100%;
    margin: inherit;
    transition: top 0.2s ease-in-out;
    z-index: 9999;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    &.header-visible {
        top: 0;
    }

    &.header-hidden {
        top: -98px;
    }

    &.nav-only {
        top: -58px;
    }
}
