button {
  background-color: #fff;
  padding: 0.5rem;
  border: none;
  opacity: 0;
  animation: enter 1s forwards infinite;
  animation-delay: var(--animation-delay);
}

@keyframes enter {
  from {
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.container {
  position: relative;
  top: 100px;
}
