
.scroll-nav {
    position: fixed;
    height: 100px;
    width: 100%;
    margin: inherit;
    transition: top 0.2s ease-in-out;
    z-index: 9999;

    &.header-visible {
        top: 0;
    }

    &.header-hidden {
        top: -98px;
    }

    &.nav-only {
        top: -58px;
    }
}
